.layout{
    text-align: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

.layout_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.arrow{
    display: flex;
    align-items: center;
    gap: 12px;
}

.arrow button{
    border-radius: 50%;
    height: 34px;
    width: 34px;
    background: rgb(226, 226, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.arrow button:disabled{
    opacity: 0.5;
}

.bottom_border{
    border: 1px solid rgb(240, 240, 245);
    margin: 32px calc(10% + 52px); 
}

@media (min-width: 961px){
    .layout {
        margin-left: calc(10% + 36px);
        margin-right: calc(10% + 36px);
    }
}
